<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectAllAskList">
	SELECT /* com.greedy.WE.board.model.dao.AskDAO#selectAllAskList() */
	   ASKBOARD_NO
	 , ASKBOARD_TITLE
	 , ASKBOARD_BODY
     , ASKBOARD_CATEGORY
	 , ASKBOARD_ASKDATE
	 	FROM ASKBOARD
   </entry>
   <entry key="insertAsk">
   	INSERT 
            INTO ASKBOARD A
  (  			
    A.ASKBOARD_TITLE
  , A.ASKBOARD_BODY
  , A.ASKBOARD_CATEGORY
  , A.ASKBOARD_ASKDATE 
  , A.ASKBOARD_NO  
  , MEMBER_NO  
  )
  VALUES
  (
     ?
  ,  ?
  ,  ?
  ,	 SYSDATE
  , SEQ_BOARD_NO.NEXTVAL
  , SEQ_MEMBER_NO.NEXTVAL
  )		
   </entry>
    <entry key="selectAskDetail">
      SELECT
       	A.ASKBOARD_TITLE
      ,	A.ASKBOARD_BODY
      ,	A.ASKBOARD_ASKDATE
      , A.ASKBOARD_CATEGORY
      FROM ASKBOARD A
      WHERE A.ASKBOARD_NO = ?	
    </entry>
    <entry key="selectAskUpdate">
    SELECT
      A.ASKBOARD_NO
      A.ASKBOARD_TITLE
      A.ASKBOARD_BODY
      A.ASKBOARD_ASKDATE
      A.MEMBER_NO
     FROM ASKBOARD A
     WHERE A.ASKBOARD_NO = ?
    </entry>
    <entry key="updateAsk">
    	UPDATE
    			ASKBOARD A
    	SET A.ASKBOARD_TITLE = ?
    	  , A.ASKBOARD_BODY = ?		
    </entry>
</properties>