<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAllNoticeList">
        SELECT	/* com.greedy.we.member.model.dao.NoticeDAO#selectAllNoticeList */
               A.BOARD_NO
             , A.BOARD_TITLE
             , A.BOARD_BODY
             , A.BOARD_DATE
             , A.BOARD_WRITER
          FROM BOARD A
	</entry>	
	<entry key="insertNotice">
        INSERT  /* com.greedy.we.member.model.dao.NoticeDAO#insertNotice */
          INTO BOARD A
    (
        A.BOARD_TITLE
     ,  A.BOARD_BODY
     ,  A.BOARD_NO
     ,  A.BOARD_DATE
     ,  A.BOARD_WRITER  
    )
    VALUES
    (  
       ?
     , ?
     , SEQ_BOARD_NO.NEXTVAL
     , SYSDATE
     , ?
    )    
	</entry>
    <entry key="selectNoticeDetail">
    	 SELECT	
    	 	   A.BOARD_NO
             , A.BOARD_TITLE
             , A.BOARD_BODY
             , A.BOARD_DATE
             , A.BOARD_WRITER
           FROM BOARD A 
            WHERE A.BOARD_NO = ?    
		</entry>
		<entry key="selectNoticeUpdate">
        SELECT
         A.BOARD_NO
       , A.BOARD_TITLE
       , A.BOARD_BODY 
       , A.BOARD_DATE
       , A.BOARD_WRITER
       FROM BOARD A  
		</entry>
		<entry key="updateNotice">
	        UPDATE
               		BOARD A
           SET A.BOARD_TITLE = ? 
              , A.BOARD_BODY = ?
	</entry>
	<entry key="deleteNotice">
	DELETE	
	FROM BOARD A
   </entry>
</properties>